* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  padding: 67px 16px 62px;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27, 66%, 92%);
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 22px 20px;
  margin-bottom: 16px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
}

.top-container-text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
}

.top-container-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: hsl(0, 0%, 100%);
}

.top-container img {
  width: 60px;
  height: 40px;
}

.bottom-container {
  padding: 24px 20px;
  background: hsl(33, 100%, 98%);
  border-radius: 10px;
}

.bottom-container h1 {
  margin-bottom: 52px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: hsl(25, 47%, 15%);
}

.graph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 24px;
  height: 178px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

.bar {
  margin-bottom: 11px;
  width: 33px;
  height: 0px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 3px;
  /* transition: height 0.5s linear; */
}

.day {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: hsl(28, 10%, 53%);
}

.highlight {
  background-color: #76B5BC;
}

.day {
  text-align: center;
}

.amount {
  position: absolute;
  top: -48px;
  text-align: center;
  padding: 8px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: hsl(33, 100%, 98%);
  background-color: hsl(25, 47%, 15%);
  border-radius: 5px;
  z-index: 1;
} 

.line {
  margin-bottom: 24px;
  height: 2px;
  background-color: hsl(27, 66%, 92%);
  border-radius: 1px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details-right {
  align-self: flex-end;
  margin-bottom: 9px;
}

.details-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: hsl(28, 10%, 53%);
}

.details-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: hsl(25, 47%, 15%);
}

.details-percent {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: hsl(25, 47%, 15%);
}

.right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
    padding: 0;
  }

  main {
    max-width: 540px;
  }

  .top-container {
    padding: 27px 39px 25px 32px;
    margin-bottom: 24px;
    border-radius: 20px;
  }

  .top-container-text {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 23px;
  }

  .top-container-price {
    font-size: 32px;
    line-height: 42px;
  }
  
  .top-container img {
    width: 72px;
    height: 48px;
  }

  .bottom-container {
    padding: 32px 40px 40px;
    border-radius: 20px;
  }

  .bottom-container h1 {
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 42px;
  }

  .graph {
    gap: 17.91px;
    margin-bottom: 32px;
  }

  .bar {
    margin-bottom: 8px;
    width: 50.36px;
    border-radius: 5px;
  }

  .day {
    font-size: 15px;
    line-height: 20px;
  }

  .bar:hover {
    cursor: pointer;
    opacity: 0.65;
  }

  .line {
    margin-bottom: 32px;
  }

  .details-text {
    font-size: 18px;
    line-height: 23px;
  }
  
  .details-price {
    font-size: 48px;
    line-height: 62px;
  }

  .details-percent {
    font-size: 18px;
    line-height: 23px;
  }
}